* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.addnew {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: end;
  padding: 10px;
}

.Addnew {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputs1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-evenly;
}

.inputs2 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: space-evenly;
}

.inputs3 {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.inputs2 input {
  padding: 8px;
}

button {
  background-color: #3e82f1;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: white;
}

.main1 {
  display: grid;
  gap: 10px;
  flex-wrap: wrap;
  width: "100vw";
  grid-template-columns: repeat(5, 1fr);
}

.div1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 1366px) {
  .main1 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .main1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 762px) {
  .main1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .main1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
