* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.addnew {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: end;
  padding: 10px;
}

.Addnew {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputs1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-evenly;
}
